  <div id="leftside">
    <h1>Дети </h1>
    <h2>Наше все</h2>

<div id="menu">
      <a><%= link_to "Главная",       root_path%>
      <%= link_to "Статьи",           blog_path%>
      <%= link_to "Взрослые квесты",  quest_path %>
      <%= link_to "Детские квесты",   deti_path, class: "active"    %>
      <%= link_to "Мафия",            mafia_path %>
      <%= link_to "О Нас",            info_path%>
      <%= link_to "Контакты",         contact_path%></a>    
    </div>

    <h3>Здесь находятся</h3>
    <p>Контакты</p>
  
  </div>
</div>
