<footer>
    <ul class="f-fobar">
      <li class="f-menu"><%= link_to "что",   "#"  %></li>
      <li class="f-menu"><%= link_to "Же","#" %></li>
      <li class="f-menu"><%= link_to "Сюда",   "#"  %></li>
      <li class="f-menu"><%= link_to "Написать??","#" %></li>
     </ul>
</footer>


