@import "bootstrap";

body {
	margin:0;
	padding:0;
	color:#404040;
	background-color: #f4f4fa;
	font:76% Verdana,Tahoma,sans-serif;
}

* {
	margin:0;
	padding:0;
}

/*header nasvroiki*/
.row {
	width: 960px;
	margin: auto;
}
.clear {
	clear:both;
}

/*header*/
.logo {
	width: 300px;
	height: 100px;
	background-color: #ccc;
	float: left;
	}
.contact {
	width: 400px;
	height: 50px;
	display: inline-block;
	background-color: #ccc;
	position: relative;
	float: right;
}

/*menu header*/

/*Обнуляем отступы*/
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;   
}
 
/*Задаём параметры блока, содержащего основное меню*/
#menu {
    display:block;
    
    margin-top:70px;
    margin-right: 5px;
    text-align: right;
    
         
}
/*Задаём стили для разделов меню*/
#menu > li {
    display:inline-block;
    height:20px;
    position:relative;
    border: 2px solid;
    font-size: 12pt;
}
/*Стили для скрытого выпадающего меню*/
#menu > li > ul {
    position:absolute;
    top:20px;
    display:none;   
    background-color: #fff;
    border: 1px solid;
    width: 100px;
}
/* скрытую часть видимой*/
#menu > li:hover > ul {
    display:block;  
}


/*линия */
hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }

/* footer */

footer {
	text-align: center;
	font-size: 16pt;
}


/* content */
.content {
	margin: auto;
	background-color: #f2f8f3;
	width: 960px;
}

.brend {
	width: 100px;
	height: 100px;
	margin: auto;
	background-color: #ccc;
	position: block;
}

.linkAp {
	text-align: center;
}

