<header>
	<div class="row">

		<div class="logo">ЛОГОТИП</div>
		<div class="contact">КОНТАКТЫ</div>

<ul id="menu">
    <li><%= link_to "Главная", root_path %></li>
    <li><%= link_to "Статьи", blog_path %>
        <ul>
            <li><%= link_to "Статья 1", blog1_path %></li>
            <li><%= link_to "Статья 2", blog2_path %></li>
            <li><%= link_to "Статья 3", blog3_path %></li>
            
        </ul>
    </li>
    <li><%= link_to "Для взрослых", 	quest_path %>
        <ul>
            <li><%= link_to "Дирижабль", quest1_path %></li>
            <li><%= link_to "Детектив", quest2_path %></li>
            <li><%= link_to "Мафия", quest3_path %></li>
        </ul>
    </li>       
     <li><%= link_to "Для Детей", 	deti_path %>
        <ul>
            <li><%= link_to "Супергерои", deti1_path %></li>
            <li><%= link_to "Рыцари", deti2_path %></li>
            <li><%= link_to "Не знаю", deti3_path %></li>
        </ul>
    </li>    
    
    <li><%= link_to "Мафия", mafia_path %></li>
    <li><%= link_to "Контакты", contact_path %></li>
    <li><%= link_to "О Нас", info_path %></li>
   
</ul>
<hr>

</header>
